<h1 class="page-title">Create New Customer Account</h1>

<form id="registerForm">
    <div class="content">
        <h2 class="heading">Personal Information</h2>

        <div class="inputField">
            <label for="firstName" name="firstName">First Name <span class="required">*</span></label>
            <input id="firstName" type="text">
        </div>

        <div class="inputField">
            <label for="lastName" name="lastName">Last Name <span class="required">*</span></label>
            <input id="lastName" type="text">
        </div>

        <div class="inputField">
            <label for="email" name="email">Email <span class="required">*</span></label>
            <input id="email" type="email">
        </div>

        <div class="inputField">
            <label for="password" name="password">Password <span class="required">*</span></label>
            <input id="password" type="password">
        </div>

        <div class="inputField">
            <label for="rePassword" name="rePassword">Repeat Password <span class="required">*</span></label>
            <input id="rePassword" type="password">
        </div>

        <div class="controls">
            <button id="submitBtn" type="submit">Create an account</button>
            <button id="backBtn">Back</button>
        </div>
    </div>

</form>