<h1 class="page-title">Sign In</h1>

<form id="registerForm">
    <div class="content">
        <h2 class="heading">Personal Information</h2>
    
        <div class="inputField">
            <label for="email" name="email">Email <span class="required">*</span></label>
            <input id="email" type="email">
        </div>

        <div class="inputField">
            <label for="password" name="password">Password <span class="required">*</span></label>
            <input id="password" type="password">
        </div>

        <div class="controls">
            <button id="submitBtn" type="submit">Sign In</button>
            <button id="backBtn">Back</button>
        </div>
    </div>

</form>