<section class="intro">
    <div class="banner">

        <div class="content">
            <div class="text">
                <div class="border"></div>

                <h1 class="heading">Shoping without limits.</h1>
                <p class="description">You can choose the best option for you, and it does not matter wheter you are in Prague or San Francisco. We will deliver your purchase anywhere!</p>    
            </div>
        </div>
       
        <img src="/assets/images/shoping-without-limits-background2.png" alt="No background">
    </div>
</section>

<section class="clothes">
    <div *ngFor="let product of products" class="card">
        <img class="dress-img" src="{{product.img}}" alt="No Image">
        
        <h6 class="card__heading">{{product.title}}</h6>
        <p class="card__description">{{product.description}}</p>
        
        <span class="card__price">{{product.price}} EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <!-- <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress2.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress4.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress5.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress6.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress7.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress8.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress5.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress2.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress1.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress3.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress7.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress8.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div>

    <div class="card">
        <img class="dress-img" src="/assets/images/clothes/dress5.png" alt="No Image">
        
        <h6 class="card__heading">Top Women</h6>
        <p class="card__description">Angels malu zip jeans slim black used</p>
        
        <span class="card__price">139,00 EUR</span>
        <button class="buyButton">Buy</button>
    </div> -->
</section>