<div id="carousel">
    <img class="background" src="/assets/images/summer-sale-background.png" alt="No Background">

    <div class="content">
        <div class="text">
            <div class="border"></div>

            <h1 class="heading">
                Summer Sale Get <span class="highlight">30% Off</span> On All Dress.
            </h1>
        </div>

        <button class="primary">Shop Now</button>
    </div>

    <div class="images">
        <img src="/assets/images/models/model1.0.png" alt="No Model">
        <img src="/assets/images/models/model1.1.png" alt="No Model">
    </div>

    <div class="observer">
        <div class="box"></div>
        <div class="box active"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <div class="controls">
        <button class="control left">
            <i class="fa-solid fa-less-than"></i>
        </button>
        <button class="control right">
            <i class="fa-solid fa-greater-than"></i>
        </button>
    </div>
</div>

<section id="logos-container">
    <h5 class="heading">Chose your brand</h5>

    <img src="/assets/images/brands/chanel.png" alt="Chanel">
    <img src="/assets/images/brands/burberry.png" alt="Burberry">
    <img src="/assets/images/brands/dior.png" alt="Dior">
    <img src="/assets/images/brands/fendi.png" alt="Fendi">
    <img src="/assets/images/brands/versace.png" alt="Versace">
    <img src="/assets/images/brands/gucci.png" alt="Gucci">
    <img src="/assets/images/brands/armani.png" alt="Armani">
</section>

<section id="news">
    <div class="card first">
        <img class="model" src="/assets/images/models/model2.2.png" alt="Model">

        <div class="content">
            <h3 class="heading">Choose your look</h3>
            <p class="description">See our clothing collections</p>

            <button class="primary">See Offers</button>
        </div>
    </div>

    <div class="card second">
        <img class="model" src="/assets/images/models/model2.1.png" alt="Model">

        <div class="content">
            <h3 class="heading">Brand New Style</h3>
            <p class="description">Popular clothing brands</p>

            <button class="primary">See Offers</button>
        </div>
    </div>

    <div class="card third">
        <img class="model" src="/assets/images/models/model2.0.png" alt="Model">

        <div class="content">
            <h2 class="heading">Up To 40% Off</h2>
            <p class="description">Special offers and great deals</p>

            <button class="primary">Shop Now</button>
        </div>
    </div>
</section>

<section id="new-clothes">
    <div class="options">
        <h4 class="heading">Shop Some Wear</h4>
        <div class="option">
            <input type="checkbox" id="bestSeller" name="bestSeller">
            <label for="bestSeller">Best Sellers</label>
        </div>

        <div class="option">
            <input type="checkbox" id="newArivals" name="newArivals">
            <label for="newArivals">New Arivals</label>    
        </div>

        <div class="option">
            <input type="checkbox" id="topWomen" name="topWomen">
            <label for="topWomen">Top Women</label>    
        </div>

        <div class="option">
            <input type="checkbox" id="collectionSummer" name="collectionSummer">
            <label for="collectionSummer">Collection Summer</label>   
        </div>

        <div class="option">
            <input type="checkbox" id="collectionSpring" name="collectionSpring">
            <label for="collectionSpring">Collection Spring</label>   
        </div>

        <div class="option">
            <input type="checkbox" id="trending" name="trending">
            <label for="collectionSpring">Trending</label>   
        </div>
    </div>

    <div class="clothes">
        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress1.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>

        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress2.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>

        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress3.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>

        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress4.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>

        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress5.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>

        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress6.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>

        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress7.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>

        <div class="card">
            <img class="dress-img" src="/assets/images/clothes/dress8.png" alt="No Image">
            
            <h6 class="card__heading">Top Women</h6>
            <p class="card__description">Angels malu zip jeans slim black used</p>
            
            <span class="card__price">139,00 EUR</span>
        </div>


    </div>
</section>