@import '../../../shared/variables';
@import '../../../shared/product-card-style';

#new-clothes {
    display: flex;
    box-sizing: border-box;
}

#new-clothes .options .heading {
    text-transform: capitalize;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 24px;
}

#new-clothes .options {
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 10%;

    margin-right: 5%;

    border-right: 2px solid $clr-divider;
}

#new-clothes .options .option {
    margin-bottom: 16px;
}

#new-clothes .options input {
    margin-right: 8px;
}

#new-clothes .options label {
    font-family: $font-main;
    text-transform: uppercase;
}

#new-clothes .options input[type="checkbox"] {
    accent-color: $clr-black2;
}