@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

$clr-black: #000000;

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$clr-main: #E6F1FA;
$clr-main2: #EB5757;
$clr-advanced: #57A4EB;
$clr-black: #000000;
$clr-black2: #3F3F3F;
$clr-white: #FFFFFF;
$clr-gray1: #828282;
$clr-lightBlueHover: #F0F2F2;
$clr-divider: #C4C4C4;
$clr-link: #0F6DB1;