<footer id="page-footer">
    <div class="footer-content">
        <div class="container-logo">
            <img src="/assets/logo.png" alt="No Logo">
        </div>
    
        <ul id="features-list">
            <h3 class="footer-heading">Features</h3>
    
            <li class="info">
                <a href="#" class="features__item__link">Men</a>
            </li>
            <li class="info">
                <a href="#" class="features__item__link">Women</a>
            </li>
            <li class="info">
                <a href="#" class="features__item__link">Boys</a>
            </li>
            <li class="info">
                <a href="#" class="features__item__link">Girls</a>
            </li>
            <li class="info">
                <a href="#" class="features__item__link">New Arrivals</a>
            </li>
            <li class="info">
                <a href="#" class="features__item__link">Shoes</a>
            </li>
            <li class="info">
                <a href="#" class="features__item__link">Clothes</a>
            </li>
            <li class="info">
                <a href="#" class="features__item__link">Accessories</a>
            </li>
        </ul>
    
        <ul id="menu-list">
            <h3 class="footer-heading">Menu</h3>
    
            <li class="info">
                <a href="#" class="menu__item__link">About Us</a>
            </li>
            <li class="info">
                <a href="#" class="menu__item__link">Contact Us</a>
            </li>
            <li class="info">
                <a href="#" class="menu__item__link">My Account</a>
            </li>
            <li class="info">
                <a href="#" class="menu__item__link">Orders History</a>
            </li>
            <li class="info">
                <a href="#" class="menu__item__link">My Wishlist</a>
            </li>
            <li class="info">
                <a href="#" class="menu__item__link">Blog</a>
            </li>
            <li class="info">
                <a href="#" class="menu__item__link">Login</a>
            </li>
        </ul>
    
        <ul id="contacts">
            <h3 class="footer-heading">Contact Us</h3>
    
            <li class="info">
                <h4 class="contacts__info-heading">Address:</h4>
                <address class="contacts__content">123 Street Name, City, England</address>
            </li>
            <li class="info">
                <h4 class="contacts__info-heading">Phone:</h4>
                <p class="contacts__content">(123) 456-7890</p>
            </li>
            <li class="info">
                <h4 class="contacts__info-heading">Email:</h4>
                <p class="contacts__email">MAIL@EXAMPLE.COM</p>
            </li>
            <li class="info">
                <h4 class="contacts__info-heading">Working Days/Hours:</h4>
                <p class="contacts__content">Mon - Sun / 9.00AM - 8.00PM</p>
            </li>
        </ul>
    
        <ul id="social-media-list">
            <h3 class="footer-heading">Follow Us</h3>
    
            <li class="social-media__info">
                <i class="fa-brands fa-square-facebook"></i>
                <a href="#" class="social-media__platform">Facebook</a>
            </li>
            <li class="social-media__info">
                <i class="fa-brands fa-square-twitter"></i>
                <a href="#" class="social-media__platform">Twitter</a>
            </li>
            <li class="social-media__info">
                <i class="fa-brands fa-square-instagram"></i>
                <a href="#" class="social-media__platform">Instagram</a>
            </li>
        </ul>
    
        <form id="join-form">
            <h3 class="footer-heading">Join Us</h3>
            <p class="join-form__description">Subscrive to our newsletters</p>
            
            <input class="join-form__email" type="text" placeholder="Email Adderss">
            <button class="join-form__btn">Subscribe!</button>
        </form>    
    </div>
    
    <div class="separator"></div>

    <div id="copyright">
        <p class="copyright__text">© 2022 Ivan Parvanovski</p>
    </div>
</footer>