<div id="navbar">
    <img class="logo-img" src="assets/logo.png" alt="No Logo">

    <div class="container">
        <ul id="page-list">
            <li class="page-list__item">
                <a href="#" class="page-list__item__link active">Home</a>
            </li>
            <li class="page-list__item">
                <a href="#" class="page-list__item__link">Shop</a>
            </li>
            <li class="page-list__item">
                <a href="#" class="page-list__item__link">Blog</a>
            </li>
            <li class="page-list__item">
                <a href="#" class="page-list__item__link">Sale</a>
            </li>
            <li class="page-list__item">
                <a href="#" class="page-list__item__link">Contact us</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <ul id="user-options">
            <li class="user-options__item">
                <a class="user-options__item__link">Sign In</a>
            </li>
            <li class="user-options__item">
                <a class="user-options__item__link">Create An Account</a>
            </li>
            <li class="user-options__item">
                <i class="fa-solid fa-heart"></i>
            </li>
            <li class="user-options__item">
                <a id="bag">
                    <i class="icon fa-solid fa-bag-shopping"></i>
                    <div>
                        <p class="bag__text">Shopping Cart</p>
                        <p class="bag__total">0,00 EUR</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>