@import '../../shared/variables';

.emptyBag {
    text-align: center;
    margin: auto;
    padding-top: 6.9%;
    padding-bottom: 6.9%;
}

.emptyBag__title,
.emptyBag__subtitle {
    font-family: $font-secondary;
    text-transform: uppercase;
}

.emptyBag__title {
    font-size: 56px;
}

.emptyBag__subtitle {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-weight: 400;
}

.cart {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-right: 32px;
}

.cart__products {
    width: 60%;
}

