@import '../../shared/variables';

#page-footer {
    // position: absolute;
    // bottom: 0;
    padding-top: 2.5rem;

    background-color: $clr-black;
    color: $clr-white;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

#features-list,
#menu-list,
#contacts,
#social-media-list {
    margin: 0px;
    padding: 0px;

    list-style: none;
}

#page-footer .footer-heading {
    margin: 0;
    margin-bottom: 24px;

    font-family: $font-secondary;
    font-weight: 600;
    text-transform: uppercase;
}


#page-footer .features__item__link,
#page-footer .menu__item__link,
#page-footer .contacts__content,
#page-footer .contacts__email,
#page-footer .social-media__platform {
    text-decoration: none;
    color: $clr-gray1;
}

#page-footer .features__item__link,
#page-footer .menu__item__link,
#page-footer .contacts__content,
#page-footer .social-media__platform {
    text-transform: uppercase;
}

#page-footer .info,
#page-footer .social-media__info {
    font-family: $font-main;
    font-size: 13px;
}

#page-footer .info a:hover,
#page-footer .social-media__info a:hover {
    color: $clr-link;
}

#page-footer .info {
    margin-bottom: 12px;
}

#page-footer .contacts__content,
#page-footer .contacts__email {
    margin: 0px;
    font-style: normal;
}

#page-footer .contacts__info-heading {
    margin-bottom: 5px;

    text-transform: uppercase;
    font-family: $font-secondary;
    font-weight: 500;
}

#page-footer .social-media__info i {
    font-size: 21px;
    margin-right: 16px;
    margin-bottom: 16px;
}

#join-form .join-form__description {
    color: $clr-gray1;
    font-family: $font-main;
    text-transform: uppercase;
    font-size: 13px;
}

#join-form .join-form__email,
#join-form .join-form__btn {
    display: block;
    width: calc(100% - 34px);
    padding: 8px 16px;
}

#join-form .join-form__email {
    margin-bottom: 4px;

    border: 1px solid $clr-white;
    background-color: $clr-black;
    color: $clr-white;
}

#join-form .join-form__email::placeholder {
    color: $clr-white;
    font-size: 12px;
    font-weight: 400;
}

#join-form button.join-form__btn {
    width: 100%;

    border: none;
    text-transform: uppercase;
    background-color: $clr-white;
    color: $clr-black;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 14px;
}

#join-form button.join-form__btn:hover {

    cursor: pointer;
    font-weight: bold;
    background-color: $clr-main2;
    color: $clr-white;

    -webkit-transition: all 0.3s 0.1s ease-in-out;
    -moz-transition: all 0.3s 0.1s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s 0.1s ease-in-out;    
}


#copyright,
.separator {
    width: calc(100% - 64px);
    margin: 0 auto;
}

.separator {
    height: 1px;
    background-color: $clr-black2;
}

#copyright {
    padding-bottom: 8px;
}

#copyright .copyright__text {
    font-family: $font-main;
}